
@{
    ViewBag.Title = "Agradecimientos";
}
<div>
    <h3>¡Los datos se han guardado</h3>
    <p>Gracias por participar, tus datos son completamente anónimos,</p>
    <button style="width: 100px;" onclick="Terminar()">Terminar</button>
</div>


