
@{
    ViewBag.Title = "Declaracion";
}

<div>
    <h1>Declaracion de privacidad</h1>

    <p>
        En el Departamento de Ingeniería Eléctrica y Computación de la Universidad Autónoma de Ciudad Juárez, 
        está realizando una investigación titulada “ESTUDIO DEL COMPORTAMIENTO VISUAL DE PROGRAMADORES BASADO EN LA MODELIZACIÓN 
        COGNITIVA COMPUTACIONAL UN ENFOQUE BASADO EN E - Z READER” 
        con el propósito de aportar conocimiento en las nuevas tecnologías de seguimiento ocular. 

        Se pide su participación online utilizando la página web desarrollada específicamente para este propósito 
        entendiendo que es necesario dar acceso a la cámara web del dispositivo para lograr recopilar la información 
        necesaria, todo esto bajo la supervisión del profesor Francisco López Orozco (francisco.orozco@uacj.mx).
        
        Favor de seguir las siguientes recomendaciones durante la prueba:
    </p>
    <ul><li>No usar lentes oscuros</li>
        <li>No usar lentes con armazón grueso.</li>
        <li>No usar sombrero o gorra.</li>
        <li>No colocar objetos físicos que puedan interponerse entre el ojo y la cámara web.</li>
        <li>Sentarse relativamente derecho en la silla.</li>
        <li>No moverse demasiado.</li>
        <li>Permanecer a aproximadamente 20 a 23 pulgadas del monitor.</li>
        <li>Debe evitar que inclinarse, ya que la cámara web sólo puede mantener el ojo en una cierta distancia.</li>
    </ul>


    <p>
        A contunuación, se presenta información relevante para informar a fondo sobre el experimento para saber que en verdad quiere colaborar en el experimento
    </p>
    <p>Al respecto, expongo que:</p>
    <ol>
        
        <li>Estoy consiente que mis datos serán utilizados con fines acádemicos</li>

        <li>Autorizo el uso de mis datos para fines acádemicos</li>

        <li>He recibido una explicación satisfactoria sobre el propósito de la actividad, así como de los beneficios que se espera estos produzcan.</li>

        <li>Doy mi consentimiento expreso para la obtención, procesamiento, tratamiento, transferencia y utilización de los datos y la información que se obtenga.</li>

        <li>Sé que la decisión de participar en esta investigación es absolutamente voluntaria. Si no deseo participar en ella o, una vez iniciada la investigación, no deseo seguir colaborando, puedo hacerlo sin problemas. En ambos casos, se me asegura que esto no implicará ninguna consecuencia negativa para mí.</li>

        <li>Adicionalmente, el investigador responsable Eduardo Ariel Meza García, correo al159904@alumnos.uacj.mx, teléfono 6568182094, ha manifestado su voluntad en orden a aclarar cualquier duda que me surja sobre mi participación en la actividad realizada.</li>

        <li>Comprendo que debo dar acceso a mi cámara web y todo el procedimiento será grabado mediante la aplicación “Microsoft Teams”.</li>

        <li>El contenido obtenido a partir de mi participación en esta investigación será completamente confidencial y mis datos personales serán protegidos por el investigador a cargo Eduardo Ariel Meza García, quien se encargará además de borrar mi cara de los vídeos recopilados derivados de esta investigación.</li>
    </ol>
    <p>
        He leído el documento, entiendo las declaraciones contenidas en él y la necesidad de hacer constar mi consentimiento, para lo cual lo firmo libre y voluntariamente.
    </p>
    <p>
        Yo siendo mayor de edad o autorizado por mi representante legal, consiento en participar en la investigación denominada: “ESTUDIO DEL COMPORTAMIENTO VISUAL DE PROGRAMADORES BASADO EN LA MODELIZACIÓN COGNITIVA COMPUTACIONAL: UN ENFOQUE BASADO EN E – Z READER”, y autorizo al profesional: Eduardo Ariel Meza García, investigador responsable del proyecto, para realizar el (los) procedimiento (s) requerido (s) por el proyecto de investigación descrito.
    </p>

    <button style="width: 100px;" onclick="Acepto()">Acepto</button>
    <button style="width: 100px;" onclick="NoAcepto()">No Acepto</button>


</div>


