
@{
    ViewBag.Title = "ExpBasico6";
}

<div>
    <h2>Código intermedio 3 </h2>
    <form action="~/Home/ExpBas6" method="post">
        <p>Escribe en el recuadro lo que entendiste del código anteriormente presentado.</p>
        <textarea name="nivelIntermedioExp3" style="width:2600px;"></textarea>
        <button name="Enviar" type="submit">Enviar</button>
    </form>

</div>
