
@{
    ViewBag.Title = "ExpBasico4";
}

<div>
    <h2>Código intermedio 1 </h2>
    <form action="~/Home/ExpBas4" method="post">
        <p>Escribe en el recuadro lo que entendiste del código anteriormente presentado.</p>
        <textarea name="nivelIntermedioExp1" style="width:2600px;"></textarea>
        <button name="Enviar" type="submit">Enviar</button>
    </form>

</div>

