
@{
    ViewBag.Title = "ExpBasico9";
}

<div>
    <h2>Código avanzado 3 </h2>
    <form action="~/Home/ExpBas9" method="post">
        <p>Escribe en el recuadro lo que entendiste del código anteriormente presentado.</p>
        <textarea name="nivelAvanzadoExp3" style="width:2600px;"></textarea>
        <button name="Enviar" type="submit">Enviar</button>
    </form>

</div>
