
@{
    ViewBag.Title = "Experimento5";
}

<div>
    <h5>analiza el siguiente codigo, cuando comprendas presiona el boton de terminar (espera a que aparezca el punto rojo para comenzar a leerlo).</h5>
    <pre>
#include <iostream>
#include <stdlib.h>
    using namespace std;
    using namespace std;
    int main()
    {
    int * xp;
    double *

    int * arr_dynamic;
    int ** matriz;
    struct Punto3d
    {
    float x,y,z;
    } * punto;
    int n,m;
    cout <<" Pasame un entero y un doble"
    << endl;
    xp = new int;
    dp = new double;
    cin >> *xp >> *dp;
    cout << *xp <<" " << *dp << endl;
    cout << "Dame n y m"
    << endl;
    cin >> n >> m;
    arr_dynamic = new int[n];
    matriz = new int* [n];
    for(int i=0; i < n ; i++)
    matriz[i] = new int [m];
    srand(m);


</pre>


    <button style="width: 100px;" onclick="onbeforeunload('ExpBasico5')">Terminar</button>
    <div>
        <script type="text/javascript" src="/Scripts/main.js"></script>
    </div>
</div>
