@{
    ViewBag.Title = "Inicio";
}

<div style="width: inherit; height: inherit">
    <h1>¡Bienvenido</h1>
    <p>Experimento de análisis de código, te invito a leer el aviso de privacidad y si estás listo presiona continuar</p>
    


    <!-- <button style="width: 100px;" value="Profesor" onclick="Profesor()">Profesor</button>-->

    <button style="width: 100px;" value="Alumno" onclick="Alumno()">Continuar</button>
    <hr />
    <p>@Html.ActionLink("Leer la declaración de privacidad", "Declaracion", "Home") </p>

</div>